<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>app</title>
	<link href="/public/css/main.0df80f.css" rel="stylesheet"></head>

	<body>
		<div id="app">
			<input type="text">
		</div>
	<script type="text/javascript" src="/public/js/manifest.90c31a.js"></script><script type="text/javascript" src="/public/js/vendors.6df148.js"></script><script type="text/javascript" src="/public/js/main.56ac7b.js"></script></body>

</html>